---
interface Props {
  maxWidth?: boolean;
}

const { maxWidth = true } = Astro.props;
const className = maxWidth
  ? 'max-w-container mx-auto px-4 md:px-8'
  : 'w-full';
---

<div class={`py-16 md:py-24 ${className}`}>
  <slot />
</div>
